body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images.jpg);
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
    font-size: 17px;
    height: 100vh;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    max-width: 360px;
    padding: 45px;
    margin: 0 auto 100px;
    text-align: center;
}

.form a{
    text-decoration: none;
    color: aquamarine;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background:#f2f2f2;
    width: 100%;
    border: 0.5px solid white;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
}

.form button{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:  #118415;
    width: 100%;
    border: 0;
    border-radius: 15px;
    padding: 15px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.form button:hover{
    background-color:#4CAF50 ;
}