{% extends 'main.html' %}

{% block content %}
{% include 'navbarhome.html' %}


<div id="showcase">

    <div class="section-main container" >
        <h1>House rent & Sale</h1>
        <h2>This Application is to for buying or selling a house property without any aditonal charges or costs.</h2>
        <p class="lead hide-on-small">The House Renting & Sales  Management System is a web application for doing the house renting processes in more easy way. It has a number of features that will allow users to manage property details for rental and selling purposes. This system as well as the web application’s concept is all clear, it’s the same as real-life scenarios and well-implemented on it. </p>
    </div>
</div>

<hr>

<section id="aboutus" class="section">
    <div class="container">
        <h2 class="section-head">
            About Us
        </h2>
        <h3>House Sales & Renting</h3>
        <p class="lead">
            This application allows house owners to find people who need a house for rent or for selling them .
             Also it helps people who are looking for a house or apartment
             to find a suitable home for them without any extra charges or brokering fee. 
        </p>
        <a href="register.html" class="btn btn-primary mb">START NOW</a>
        <p class="text-light">you can download our products from</p>
    </div>
</section>

<hr>
<section id="rent" class="section">
    <div class="container">
        <h2 class="section-head">
            RENT ITEMS
        </h2>
        <h3>Houses for renting</h3>
        <p class="lead">
            This application allows house owners to find people who need a house for rent or for selling them .
             Also it helps people who are looking for a house or apartment
             to find a suitable home for them without any extra charges or brokering fee. 
        </p>
        <a href="rent" class="btn btn-secondary">Read More</a>
    </div>
</section>

<hr>
<section id="sell" class="section">
    <div class="container">
        <h2 class="section-head">
            FOR SELLING
        </h2>
        <h3>Houses for selling</h3>
        <p class="lead">
            This application allows house owners to find people who need a house for rent or for selling them .
             Also it helps people who are looking for a house or apartment
             to find a suitable home for them without any extra charges or brokering fee. 
        </p>
        <a href="sale" class="btn btn-secondary">Read More</a>
    </div>
</section>

</div>
{% endblock  %}

