{% load static %}
<html>
  
    <head>
        <title> Django 2 </title>
        
        <link rel ="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

       
        {% block content %}
        
        {% endblock  %}
    </body>
    <hr>
    <footer>
        <div class="container">
            <div class="footer-cols">
                <ul>
                    <li>ROOMS</li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                </ul>
                <ul>
                    <li>LOCATIONS</li>
                    <li> <a href=#> Ernakulam</a></li>
                    <li> <a href=#> kottayam</a></li>
                    <li> <a href=#> Thrissur</a></li>
                    <li> <a href=#> Trivandrum</a></li>
                </ul>
                <ul>
                    <li>ROOMS</li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                </ul>
                <ul>
                    <li>ROOMS</li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                    <li> <a href=#>2 Bedrooms</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright &copy; Developed By Frontend
        </div>
    </footer>
</html> 